.portfolio_heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: normal;
	padding: 10px;
	color: #ffffff;
	background: #4aaaa5;
	border: 1px solid #4aaaa5;
	font-size: medium;
	text-align: center;
	height: 17px;
	position: absolute;
<<<<<<< HEAD
	top: 0px;
	left: 0px;
	right: 0px;
=======
	left: 0px;
	right: 0px;
	bottom: 10px;
>>>>>>> master
}

.portfolio_heading:hover {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: normal;
	padding: 10px;
	color: #4aaaa5;
	background: #ffffff;
	border: 1px solid #4aaaa5;
	font-size: medium;
	text-align: center;
	height: 17px;
	cursor: pointer;
	position: absolute;
<<<<<<< HEAD
	top: 0px;
	left: 0px;
	right: 0px;
=======
	left: 0px;
	right: 0px;
	bottom: 10px;
>>>>>>> master
}

.placeholder {
	height: 290px;
	width: 290px;
	margin: 15px;
	display: inline-grid;
	position: relative;
}

.projectimg {
	height: 290px;
	width: 290px;
	display: block;

}

#projects {
	padding-bottom: 20px;
}
